@model QuanLyBenhXa.Models.Thuoc

@{
    ViewData["Title"] = "Sửa Thuốc";
}

<h1>Sửa thông tin Thuốc</h1>

<h4>Thuốc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="TenThuoc" class="control-label"></label>
                <input asp-for="TenThuoc" class="form-control" />
                <span asp-validation-for="TenThuoc" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NhaSanXuat" class="control-label"></label>
                <input asp-for="NhaSanXuat" class="form-control" />
                <span asp-validation-for="NhaSanXuat" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DonViTinh" class="control-label"></label>
                <input asp-for="DonViTinh" class="form-control" />
                <span asp-validation-for="DonViTinh" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoLuongTon" class="control-label"></label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="HamLuong" class="control-label"></label>
                <input asp-for="HamLuong" class="form-control" />
                <span asp-validation-for="HamLuong" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CachDung" class="control-label"></label>
                <input asp-for="CachDung" class="form-control" />
                <span asp-validation-for="CachDung" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
